<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <table >
          <tr class="contact-list">


            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="mailto:{{site.email}}">
                  <img src="/img/ico/mail-min.png" height=20px alt=""/>
                </a>
              </div>
            </td>
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://scholar.google.com/citations?user={{site.scholar_id}}">
                  <img src="/img/ico/gs-min-round.png" height=20px alt=""/>
                </a>
              </div>
            </td>
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://github.com/{{site.github}}">
                  <img src="/img/ico/git.png" height=20px alt=""/>
                </a>
              </div>
            </td>
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://twitter.com/{{site.twitter}}">
                  <img src="/img/ico/twitter-min.png" height=20px alt=""/>
                </a>
              </div>
            </td>

          </tr>
        </table>
      </div>

      <!--<div class="footer-col  footer-col-2">
      </div> -->

      <div class="footer-col  footer-col-3">
          <p class="text" align="right">Last updated {{ site.time | date: "%B %d, %Y" }}.</p>
      </div>
    </div>

  </div>

</footer>
