<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <table >
          <tr class="contact-list">
            <!-- yandex research-->
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="{{site.yandex_research_url}}">
                  <img src="/img/ico/yr.png" alt=""/>
                </a>
              </div>
            </td>
            <!-- UvA-->
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="{{site.uva_url}}">
                  <img src="/img/ico/uva_small.jpg" alt=""/>
                </a>
              </div>
            </td>
            <!-- EdnNLP-->
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="{{site.edn_nlp_url}}">
                  <img src="/img/ico/edn.png" alt=""/>
                </a>
              </div>
            </td>

            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="mailto:{{site.email}}">
                  <img src="/img/ico/mail.png" alt=""/>
                </a>
              </div>
            </td>
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://scholar.google.com/citations?user={{site.scholar_id}}">
                  <img src="/img/ico/gs_letter.png" alt=""/>
                </a>
              </div>
            </td>
            <td>
              <div class="media">
                <a class="pull-left thumbnail" href="https://github.com/{{site.github}}">
                  <img src="/img/ico/github.png" alt=""/>
                </a>
              </div>
            </td>

          </tr>
        </table>
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
          <p class="text" align="right">Last updated {{ site.time | date: "%B %d, %Y" }}.</p>
      </div>
    </div>

  </div>

</footer>
