<div class="media">
    <a class="pull-right" >
    <img src="/img/paper/{{ include.paper.conf }}" alt="" style="max-width:50px; height:auto;"/>
  </a>
  <a class="pull-left" {% if include.paper.doc-url %} href="{{ include.paper.url }}" {% endif %}
  {% if include.paper.abstract %} title="{{ include.paper.abstract }}"{% endif %}>
    <img src="/img/paper/{{ include.paper.img }}" alt="" style="max-width:120px; height:auto;"/>
  </a>
  <div class="media-body">

    <a href="{{include.paper.url}}">{{ include.paper.title }}</a><br/>
    {% if include.paper.authors %}{{ include.paper.authors }}.{% endif %}

    <br/>

  </div>
</div>
