

<style>

  .paper_title {
    text-align: center;
    background-color: rgba(45, 45, 45, 0.1);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .paper_authors {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    text-align: justify;
  }

  #thumbnail {
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
  }
  #thumbnail:hover {
    box-shadow: 0 12px 24px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
  }

  .fullCard {
    width: 700px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
    display: grid;
    grid-template-columns: 180px 520px;
  }
  .cardContent {
    padding: 10px;

  }
  .paper_logo {
  float: left;
  padding: 10px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .links {
    text-align: left;
    color: black;
    margin-right: 8px;
    padding: 4px;
    margin-bottom: 0px;

  }
  .conf_name {
    float: right;
    font-family: sans-serif;
    padding: 4px;
    margin-bottom: 0px;
  }

</style>
<div class="fullCard" id="thumbnail" >
    <div>
          <a href="{{ include.paper.url }}" target="_blank">
              <img src="/img/paper/{{ include.paper.img }} "
                   alt="" style="max-height:120px; max-width:180px; margin-top:20px;" class="center"/>
          </a>
      </div>
  <div class="cardContent">

      <div class="paper_title">
          {{ include.paper.title }}
      </div>

    <div class="paper_authors">
        {{ include.paper.authors }}
    </div>
      <hr>

      <hr style="margin-bottom:5px">
      {% if include.paper.conf_name %}<div class="conf_name">{{ include.paper.conf_name }} {{ include.paper.conf_year }}</div>{% endif %}
    <div class="links">
      <a href="{{ include.paper.url }}" target="_blank" class="links">paper  </a>
        {% if include.paper.code %}<a href="{{ include.paper.code }}" target="_blank" class="links">code</a>{% endif %}
        {% if include.paper.blog %}<a href="{{ include.paper.blog }}" target="_blank" class="links">blog</a>{% endif %}
    </div>

  </div>
</div>
