<div class="media">
  <div class="media-body">
    <!-- citation -->
    {% if include.paper.logo %}<img src="/img/papers/{{ include.paper.logo }}" alt=""/>{% endif %}

    <!-- image is now here, <a> is gone -->
    <img src="/img/paper/{{ include.paper.img }}" alt="" style="max-width:300px; height:auto; float:right"/>

    <span style="font-size:21px;"><strong>{{ include.paper.title }}</strong></span><br/>

    <span style="font-size:14px;">{% if include.paper.paper-title %}This is a post for the {{include.paper.paper-venue}} paper
    <a href="{{ include.paper.paper-url}}">
            {{ include.paper.paper-title }}.
    </a>{% endif %}</span>

    <br/>
    <br/>

    {% if include.paper.abstract %}<span style="font-size:14px;">{{ include.paper.abstract }}</span>{% endif %}

    <a href="http://fox.reactor.cc/" onMouseOver="document.readmore_1.src='/resources/posts/buttons/button_read_more_push-min.png';" onMouseOut="document.readmore_1.src='/resources/posts/buttons/button_read_more-min.png';">
    <img src="/resources/posts/buttons/button_read_more-min.png" name="readmore_1" width=120px>
    ![i_am_a_fox](../resources/posts/buttons/button_read_more-min.png)
    </a>

    <br/>



  </div>
</div>